<!DOCTYPE html>
<html>
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css"/>
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
    <header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
        <div class="container">
            <div class="navbar-header">
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                </ul>
            </div><!-- /.navbar-collapse -->
        </div>
    </header>

    <div class="jumbotron">
      <div class="container">
        <h2 th:text="#{title.short}">></h2>

        <p>
            <div class="alert alert-success" role="alert" th:if="${shortenedUrl}"
              th:utext="#{link.created}+' &lt;a href=\'' + ${shortenedUrl} + '\'&gt;' + ${shortenedUrl}
               + '&lt;/a&gt;'">
            </div>

            <form class="form-inline" th:action="@{/}" th:object="${shortenUrlRequest}" method="POST">
              <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}"
                 th:errors="*{url}" th:text="#{error.link}+' '+*{url}"></div>

              <div class="form-group">
                <input type="text" class="form-control" id="url" name="url"
                   th:placeholder="#{url.example}"
                   th:field="*{url}" th:class="${#fields.hasErrors('url')}? fieldError"/>
              </div>

              <button type="submit" class="btn btn-primary" th:text="#{button.short}"></button>
            </form>
        </p>

        <h2 th:text="#{title.full}">></h2>

        <p>
          <div class="alert alert-success" role="alert" th:if="${fullUrl}"
               th:utext="#{link.found}+' &lt;a href=\'' + ${fullUrl} + '\'&gt;' + ${fullUrl}
               + '&lt;/a&gt;'">
          </div>

          <form class="form-inline" th:action="@{/full}" th:object="${fullUrlRequest}" method="POST">
              <div class="alert alert-danger" role="alert" th:if="${#fields.hasErrors('*')}"
                   th:errors="*{url}" th:text="#{error.id}+' '+*{url}"></div>

              <div class="form-group">
                  <input type="text" class="form-control" id="fullUrl" name="fullUrl"
                         th:placeholder="#{id.example}"
                         th:field="*{url}" th:class="${#fields.hasErrors('url')}? fieldError"/>
              </div>

              <button type="submit" class="btn btn-primary" th:text="#{button.full}"></button>
          </form>
        </p>

      </div>
    </div>
</body>
</html>
